.projects-container {
    min-height: 50vh;
    background: black;
    color: white;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
}

.cx-card {
    color: black;
    background-color: rgb(219, 213, 213);
    width: 320px;
    padding: 20px;
    margin: 50px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px gray;
    transition: 1.5s all;

}

.cx-card:hover {
    transform: scale(1.3);
}


.cx-card-image img {
    justify-self: center;
    align-self: center;
    height: 150px;
    margin: -400px;
    width: auto;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.cx-card-title {

    margin-top: 100px;

}