.projects-container {
    min-height: 50vh;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.cx-card {
    color: black;
    background-color: rgb(219, 213, 213);
    width: 400px;
    height: 380px;
    padding: 10px;
    margin: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px gray;
    transition: 1.5s all;

}

.cx-card:hover {
    transform: scale(1.1);
}


.cx-card-image img {
    justify-self: center;
    align-self: center;
    position: relative;
    height: 150px;
    width: auto;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}



.cx-card-description p {
    padding: 10px;
    margin: -10px -10px;
}

.cx-card-title {

    margin-top: 10px;

}