.projects-container {
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 20px 20px gray;

}

.project-a-links {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    transition: .4s ease-in-out;
}

.project-a-links:hover {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 15px;
    background-color: black;
    border: 2px solid #55c2da;
}

.cx-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    background-color: rgb(219, 213, 213);
    padding: 20px auto;
    margin: 50px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px gray;
}



.cx-card-image img {
    justify-self: center;
    align-self: center;
    position: relative;
    height: 150px;
    width: auto;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}


.cx-card-title {
    margin-top: 10px;
    text-align: center;
}