@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Londrina+Outline&display=swap');
/* 
font-family: 'Arapey', serif;
font-family: 'Londrina Outline', cursive; 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Arapey', serif;
    border-radius: 15px;
    ;
}



.about-container {
    min-height: 100vh;
    background: black;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
}

.h1-about {
    font-size: 8rem;
    font-weight: bold;
    color: white;
    font-family: 'Londrina Outline', cursive;
}

.h2-about {
    font-weight: bold;
    font-size: 4rem;
    color: white;
    font-family: 'Arapey', serif;
}

.cxCss {
    border-bottom: 2px solid white;
    background: #000;
}


.skills-container {
    min-height: 90vh;
    background: rgba(240, 191, 76);
    display: flex;
    margin: 30px auto;
    justify-content: center;
    justify-items: center;
    /* align-items: center; */
    text-align: center;
    padding: 20px 20px;
    color: black;
}