@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Londrina+Outline&display=swap');
/* 
font-family: 'Arapey', serif;
font-family: 'Londrina Outline', cursive; 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-about {
    font-size: 8rem;
    font-weight: bold;
    color: white;
    font-family: 'Londrina Outline', cursive;
}

.h2-about {
    font-weight: bold;
    font-size: 4rem;
    color: white;
    font-family: 'Arapey', serif;
}

.h3-about {
    font-size: 1.3rem;
    color: white;
    font-family: 'Arapey', serif;
}


.cxCss {
    border-bottom: 1px solid white;
    margin-bottom: 30px;


}

.app {
    background-color: black;
}